<app-generic-list [list]="movies">
  <ng-container loading>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921"
      alt="Movies List is loading..."
    />
  </ng-container>
  <ng-container empty>
    There are no content to display for <b>movies list</b>
  </ng-container>
  <ng-container content>
    <div
      *ngFor="let movie of movies; let index = index"
      class="movie-container"
    >
      <div>
        {{ index }}) Title: {{ movie.title | lowercase }}
        <button style="margin-left: 1rem" (click)="remove(index)">
          Remove
        </button>
      </div>
      <div>release date: {{ movie.releaseDate | date : "dd-MMM-yyyy" }}</div>
      <div>price: {{ movie.price | currency }}</div>
    </div>
  </ng-container>
</app-generic-list>
