<p>Hello World</p>
<div>
  {{ title }}
</div>
<div>
  The sum of 2 + 2 is {{ 2 + 2 }}
  <div>The double of 3 is {{ duplicateNumber(3) }}</div>

  <div *ngFor="let movie of movies; let index = index" class="movie-container">
    <div>
      {{index}}) Title: {{ movie.title | lowercase }} <br />
      release date: {{ movie.releaseDate | date : "dd-MM-yyyy" }} <br />
      release date: {{ movie.releaseDate | date | uppercase }} <br />
      price: {{ movie.price | currency }}
    </div>
  </div>
</div>
